<nav>
    <a href="/"><img src="images/logo.png"></a>
    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#Branch"> Branches</a></li>
            <li><a href="/#pred"> Predictor</a></li>
            <li><a href="/contactus"> Contact</a></li>
            <li><a href="/login"> Login</a></li>

        </ul>

        <!-- search icon -->
    </div>
</nav>