<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future-edu|Predictor</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/v4-shims.min.css">
    <link rel="icon" href="images/tabicon.png" type="image/x-icon">
</head>

<body>

    <%- include('partials/nav.ejs') %>
        <div class="predictor">
            <h1>Predictor</h1>
            <div class="main">
                <form method="POST" action="/result">
                    <h2 class="title">Personal Details</h2>
                    <div id="name">
                        <h2 class="name">Name</h2>
                        <input class="firstname" type="text" name="first_name" id="first_name" required><br>
                        <label class="firstlabel">first name*</label>

                        <input class="lastname" type="text" name="last_name" id="last_name" required><br>
                        <label class="lastlabel">last name*</label>


                        <h2 id="gender">Gender*</h2>
                        <label class="radio">
                            <input class="radio-one" type="radio" name="status" id="status" required>
                            Male
                        </label>
                        <label class="radio">
                            <input class="radio-two" type="radio" name="status" id="status">
                            Female
                        </label>


                        <h2 class="name">Email*</h2>
                        <input class="email" type="email" name="email" id="email" required>

                        <h2 class="name">Phone*</h2>
                        <input class="number" type="text" name="phone">
                        <label class="phone-number">Phone Number</label>


                        <h2 class="name"> Preferred Branch*</h2>
                        <select class="option" name="branch" id="branch" required>
                            <option disabled=" disabled" selected="selected">--Choose Option--</option>
                            <option value="cs"> Computer Engineering</option>
                            <option value="it"> Information Technology</option>
                            <option value="civil">Civil Engineering</option>
                            <option value="extc"> Electronics and Telecommunication</option>
                            <option value="elec"> Electronics Engineering</option>
                            <option value="aids">Artificial Intelligence</option>
                            <option value="mech">Mechanical Engineering</option>

                        </select>

                        <h2 class="name"> Minority*</h2>
                        <select class="op" name="minority" id="minority" required>
                            <option disabled="disabled" selected="selected">--Choose Option--</option>
                            <option value="NULL"> None</option>
                            <option value="HINDI"> Hindi</option>
                            <option value="GUJARATI"> Gujarati</option>
                            <option value="SINDHI"> Sindhi</option>
                            <option value="PUNJABI"> Punjabi</option>
                            <option value="CHRISTIAN"> Christian</option>
                            <option value="MUSLIM"> Muslim</option>

                        </select>





                        <h2 class="title">Academic Details</h2>

                        <h2 class="name">SSC Marks*</h2>
                        <input class="ssc" type="text" name="ssc_marks" id="ssc_marks" required>

                        <h2 class="name">HSC Marks*</h2>
                        <input class="hsc" type="text" name="hsc_marks" id="hsc_marks" required>

                        <h2 class="name">CET Score*</h2>
                        <input class="cet" type="text" name="cet_marks" id="cet_marks" required>
                        <br>


                        <button class="hero-btn predict">Predict</button>


                    </div>
                </form>
            </div>
        </div>

</body>

</html>